<% if users.any? %>
  <div class="user">
    <div class="row">
      <% users.each do |user| %>
        <div class="col-sm-4">
          <div class="media" >
            <div class="media-left">
              <%= gravatar_for(user, 90) %>
            </div>
            <div class="media-body">
              <h5><%= user.name %></h5>
              <p><%= user.gender %>/<%= user.age %></p>
              <%= link_to 'もっと見る', user_path(user) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate users %>
  </div>
<% end %>