<div class="user-clips text-center">
  <h2>クリップしたhobby<span class="badge"><%= @count_clip_hobbies %></span></h2>
</div>
<% if @clip_hobbies.any? %>    
  <div class="row">
    <% @clip_hobbies.each do |hobby| %>
      <div class="hobby">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="media-image">
                  <%= link_to image_tag(hobby.thumbnail.url), hobby %>
                </div>
                <div class="media-contents">
                  <h2 class="media-heading"><%= hobby.title %></h2>
                  <p class="media-text"><%= hobby.content %></p>
                  <%= link_to 'もっと見る', hobby, class: 'btn btn-info btn-xs btn-block' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center"><%= paginate @clip_hobbies %></div>
<% end %>