<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">会員登録</div>
      <div class="panel-body">
        <%= form_for(@user) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          
          <div class="form-group">
            <%= f.label :name, 'お名前' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, 'パスワード（確認）' %>
            <%= f.password_field :passeord_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :gender, '性別（任意）' %>
            <%= f.select :gender, [['選択しない', '非公開'], ['男', '男'], ['女', '女']] %>
          </div>
          <div class="form-group">
            <%= f.label :age, '年齢（任意）' %>
            <%= f.select :age, [['選択しない', '非公開'], ['10代', '10代'], ['20代', '20代'], ['30代', '30代'], ['40代', '40代'], ['50代', '50代'], ['60代以上', '60代以上']] %>
          </div>
          <div class="text-right">
            <%= f.submit '登録する', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>