<div class="user-profile">
  <div class="row">
    <div class="user-avatar">
      <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for(@user, 240) %>
        </div>
        <div class="panel-footer">
          <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
        </div>
      </div>
    </div>
    </div>
    <div class="col-sm-8">
      <div class="user-heading">
        <h1><%= @user.name %></h1>
        <p>gender：<%= @user.gender %>  | age：<%= @user.age %> </p>
      </div>
      <div class="user-introduction">
        <% if @user.introduction? %>
          <p><%= @user.introduction %></p>
        <% else %>
          <%= link_to '+プロフィールを充実させる', edit_user_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'hobbyを追加する', new_hobby_path %>
  <h3 class="text-center">hobby</h3>
  </br>
  <%= render 'hobbies/hobbies', hobbies: @hobby %>
  <div class="text-center"><%= paginate @hobby %></div>
</div>