<div class="user-profile">
  <div class="row">
    <div class="user-avatar">
      <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for(@user, 240) %>
        </div>
        <% if current_user?(@user) %>
          <div class="panel-footer">
            <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
    <div class="col-sm-8">
      <div class="user-heading">
        <h1><%= @user.name %></h1>
        <p>gender：<%= @user.gender %>  | age：<%= @user.age %> |
          <%= link_to clips_user_path(@user) do %>
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          <% end %>
        </p>
      </div>
      <div class="user-introduction">
        <p><%= @user.introduction if @user.introduction? %></p>
        <% if current_user?(@user) && !@user.introduction? %>
          <%= link_to '+プロフィールを充実させる', edit_user_path(current_user) %>
        <% end %>
      </div>
    </div>
  </div>
  <% if !current_user?(@user) && logged_in? %>
    <div class="row">
      <p class="text-center"><a class="click-btn btn btn-default btn-block">メッセージ</a></p>
      <div class="col-sm-5">
        <aside class="hidenbox">
          <section class="message_box">
            <div id="messages">
              <%= render @messages %>
            </div>
          </section>
          <script type="text/javascript">
            var height = 0;
            $("div.message").each( function() {
              height += ($(this).height());
            });
            $('section.message_box').scrollTop(height);
          </script>
          <div class="message_form">
           <%= render 'messages/message_form',
             {from_user: current_user, to_user: @user, room_id: @room_id} %>
          </div>
        </aside>
      </div>
      <div class="col-sm-7">
        <div class="message-info hidenbox">
          <h5>メッセージ機能</h5>
          <p>Enterで送信できます。(50字以内)</p>
          <p>メッセージ履歴は最新500件まで表示されます。</p>
        </div>
      </div>
      <script type="text/javascript">
        $('.hidenbox').hide();
        $('.click-btn').click(function(){
            $('.hidenbox').slideToggle() ;
        });
      </script>
    </div>
    
  <% end %>
  <h3 class="text-center">hobby</h3>
  </br>
  <%= render 'hobbies/hobbies', hobbies: @hobby %>
  <div class="text-center"><%= paginate @hobby %></div>
</div>