<div class="user-profile">
  <div class="row">
    <div class="user-avatar">
      <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= gravatar_for(@user, 240) %>
        </div>
        <div class="panel-footer">
          <a href="#">プロフィールを編集</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-sm-8">
      <div class="user-introduce">
        <h1><%= @user.name %></h1>
      </div>
    </div>
  </div>
  <%= link_to 'hobbyを追加する', new_hobby_path %>
  <h3 class="text-center">hobby</h3>
  </br>
  <%= render 'hobbies/hobbies', hobbies: @hobby %>
  <div class="text-center"><%= paginate @hobby %></div>
</div>