<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h2>新しい趣味を探そう</h2>
        <% unless logged_in? %>
          <%= link_to '登録して始める', signup_path, class: 'btn btn-info btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="jumbotron text-center">
  <p>サンプルアカウント<br>・email : test@123.jp ・password : test123</p>
</div>
<div class="search-links">
  <div class="search-link">
    <h2>hobby</h2>
    <p><span class="glyphicon glyphicon-search" aria-hidden="true"></span>　キーワード検索</p>
    <%= link_to '',hobbies_path %>
  </div>
  <div class="search-link">
    <h2>user</h2>
    <p><span class="glyphicon glyphicon-search" aria-hidden="true"></span>　キーワード検索</p>
    <%= link_to '', users_path %>
  </div>
</div>
</br>
<div class="kind-search">
  <h2><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> アウトドア/インドア</h2>
  <div class="kind-links">
  <%= link_to image_tag("/images/outdoor.png", class: 'kind-link img-responsive'), hobbies_path(:search_kind => 1) %>
  <%= link_to image_tag("/images/indoor.png", class: 'kind-link img-responsive'), hobbies_path(:search_kind => 2) %>
  <%= link_to image_tag("/images/other.png", class: 'kind-link img-responsive'), hobbies_path(:search_kind => 0) %>
</div>
</div>

<div class="category-search">
  <h2><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> カテゴリーで探す</h2>
  <div class="category-links">
    <%= link_to 'スポーツ', hobbies_path(:search_category => 1), class: 'category-link' %>
    <%= link_to 'マイナースポーツ', hobbies_path(:search_category => 2), class: 'category-link' %>
    <%= link_to 'キャンプ', hobbies_path(:search_category => 3), class: 'category-link' %>
    <%= link_to 'サイクリング', hobbies_path(:search_category => 4), class: 'category-link' %>
    <%= link_to '車・バイク', hobbies_path(:search_category => 5), class: 'category-link' %>
    <%= link_to '釣り', hobbies_path(:search_category => 6), class: 'category-link' %>
    <%= link_to '映画', hobbies_path(:search_category => 7), class: 'category-link' %>
    <%= link_to '楽器', hobbies_path(:search_category => 8), class: 'category-link' %>
    <%= link_to '写真', hobbies_path(:search_category => 9), class: 'category-link' %>
    <%= link_to '旅行', hobbies_path(:search_category => 10), class: 'category-link' %>
    <%= link_to '鑑賞・観劇', hobbies_path(:search_category => 11), class: 'category-link' %>
    <%= link_to '飲食', hobbies_path(:search_category => 12), class: 'category-link' %>
    <%= link_to 'アニメ', hobbies_path(:search_category => 13), class: 'category-link' %>
    <%= link_to 'ゲーム', hobbies_path(:search_category => 14), class: 'category-link' %>
    <%= link_to '料理', hobbies_path(:search_category => 15), class: 'category-link' %>
    <%= link_to '手芸', hobbies_path(:search_category => 16), class: 'category-link' %>
  </div>
</div>
<div class="top-hobby">
  <h3 class="text-center">最近追加されたhobby</h3>
  </br>
  <%= render 'hobbies/hobbies', hobbies: @hobby %>
</div>