<div class="hobby-top">
  <div class="hobby-detail">
    <div class="row">
      <div class="col-sm-5">
        <%= image_tag @hobby.thumbnail.url, class: 'img-responsive' %>
      </div>
      <div class="col-sm-7">
        <h1><%= @hobby.title %></h1>
        <% if logged_in? %>
          <%= render 'clips/like_button', hobby: @hobby %>
        <% end %>
        <h5>
          <%= link_to user_path(@user) do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <%= @user.name %>
          <% end %>
        </h5>
        <div class="hobby-content">
          <p><%= @hobby.content %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="message-link text-center">
    <%= link_to user_path(@user) do %>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      メッセージを送る
    <% end %>
  </div>
  </br>
  <%= link_to '戻る', root_path, class: 'btn btn-default' %>
  <% if current_user == @hobby.user %>
    <%= link_to '編集', edit_hobby_path, class: 'btn btn-default' %>
    <%= link_to '削除', hobby_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
  <% end %>
</div>
    